@charset "UTF-8";


/* Content spacing */
.landing-page {
    position: relative;
    background: url('/assets/images/service/es-lp.png');
    background-size: cover; /* Ensures the image fills the space */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px; /* This makes it take up 100% of the screen height */
}

.header-content {
  padding-left: 92px;
  padding-top: 210px; /* Offset for the fixed navbar */
  
}

.main-title {
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    color: white ;
}

.sub-title {
    font-size: var(--fs-base);
    margin-top: 5px;
    color: white;
}

/* Curve & Breadcrumb Positioning */
.curve-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 620px; /* Matches SVG width */
    height: 93px; /* Matches SVG height */
}

@media screen and (max-width: 768px) {
  .curve-container  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 341px; /* Matches SVG width */
    height: 51px; /* Matches SVG height */
  }
  
  .breadcrumb-overlay {
    position: absolute;
    bottom: 10px !important; /* Adjust to center vertically in the white area */
    left: 45px !important;   /* Adjust to match horizontal padding in image */
    font-size: 0.9rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}
}


.breadcrumb-overlay {
    position: absolute;
    bottom: 30px; /* Adjust to center vertically in the white area */
    left: 130px;   /* Adjust to match horizontal padding in image */
    font-size: 0.9rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb-arrow {
    color: var(--burnt-orange);
    font-size: 0.7rem;
}

.breadcrumb-current {
    color: var(--burnt-orange);
    font-weight: 600;
}

main {
  background-color: white;
}
