@charset "UTF-8";


.landing-page {
    position: relative;
    background: url('/assets/images/service/lgs-lp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px; 
}

.header-content {
  padding-left: 92px;
  padding-top: 210px; 
  
}

.curve-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 620px; 
    height: 93px; 
}

@media screen and (max-width: 768px) {
  .curve-container  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 341px; 
    height: 51px; 
  }
  
  .breadcrumb-overlay {
    position: absolute;
    bottom: 10px !important; 
    left: 45px !important;   
    font-size: var(--fs-sm);
    color:var(--dark-charcoal);
    display: flex;
    align-items: center;
    gap: 10px;
}
}

.breadcrumb-overlay {
    position: absolute;
    bottom: 30px; 
    left: 130px;   
    font-size: var(--fs-sm);
    color:var(--dark-charcoal);
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb-arrow {
    color: var(--burnt-orange);
    font-size: 0.7rem;
}

.breadcrumb-current {
    color: var(--burnt-orange);
    font-weight: 500;
}

main {
  background-color: var(--white);
}


/* Main Top Title */
.intro {
    padding-top: 108px;
    padding-bottom: 62px;
}



.intro .main-title-jap {
 font-weight: 600;
  line-height: 135%;
  letter-spacing: 0.08em;
  color: var(--dark-charcoal);
}

.title-divider {
  border-top: 1px solid var(--green-divider);
  opacity: 1;
  margin: 46px 0 36px 0;
}

.intro .service-title-jap {
    font-weight: 500;
    display: inline; 
    background-image: linear-gradient(
        to right, 
        rgba(254, 159, 93, 0.8) 20%, 
        rgba(253, 133, 79, 0.8) 44%, 
        rgba(253, 108, 65, 0.8) 67%, 
        rgba(234, 99, 0, 0.8) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 18px; 
    background-position: 0 100%; 
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    line-height: 165%; 
    padding: 38px 4px 10px 4px;
}





.pointers {
    padding-top: 27px;
}

/* Solution Cards */
.solution-card {
 background-color: var(--white-smoke);
  border-radius: 20px;
  padding: 48px 5%; 
  width: 100%;
  max-width: 411px;
  margin: 0 auto;
  min-height: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}


@media (max-width: 1200px) {
  .solution-card {
    padding: 40px 15px; 
  }
  
  .card-text {
    font-size: var(--fs-sm); 
  }
}


.point-number {
  color: var(--burnt-orange);
  font-weight: bold;
  font-size: var(--fs-lg);
  margin-bottom: 15px;
}

.card-text {
font-size: var(--fs-lg);
  font-weight: 500;
  line-height: 200%;
  margin-bottom: 0;
}


/* FEATURE SECTION */
.feature-section {
    background-color: var(--service-bg); 
    position: relative;
    padding-bottom: 584px;
}



.triangle-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 60px solid var(--white); 
}

/* Typography */
.section-divider {
    border-top: 3px solid var(--burnt-orange);
    opacity: 10%;
    margin: 17px 0 31px 0;
}


.first-feature {
    padding-top: 173px;
}


.sub {
    padding-top: 42px;
}

.feature-item {
  padding-top: 144px;
}


.container .row:last-child .feature-item {
   padding-top: 134px;
}
.container > .row:last-child .sub {
    padding-top: 35px;
}

.container > .row:last-child .section-divider{
  margin-top: 22px;
}

.feature-text-wrapper {
  display: flex;
  align-items: flex-start;
  padding-right: 20px; 

}

.feature-list {
    list-style: none;
    padding-left: 0;
   
}

.feature-list li {
   width: 100%; 
    position: relative;
    padding-left: 25px;
    margin-bottom: 24px;
    line-height: 200%; 
    font-weight: 500;
    font-size: var(--fs-sm);
}

.feature-list li::before {
   content: "";
    position: absolute;
    left: 0;
    top: 0.5em; 
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(to right, #FE9F5D, #EA6300);
}

.gray-placeholder-box {
    background-color: var(--service-box);
    width: 100%; 
    max-width: 516px; 
    height: 344px;
    border-radius: 16px;
    margin-left: auto; 
}




/* case */
.service-case {
    padding-top: 156px;
}

.case-main-title {
    padding-bottom: 51px;
}

.case-grid-grow {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;   
}

.case-card-item .case-image-wrapper img{
    border-radius: 16px;
    width: 100%;
    max-width: 411px;
}

.mobile-filter-container {
    display: flex;
    align-items: flex-start; 
}

.all-btn-wrapper {
    flex-shrink: 0;
}

.case-btn {
    padding-top: 20px;
    padding-bottom: 191px;
}


/* 1200px */
@media screen and (min-width: 1200px) {
    .intro .service-title-jap br {
        display: none;
    }
}

/* 992px */
@media screen and (max-width: 992px){  
    .mobile-filter-container{
        flex-direction: column;
    }
    .choices-btn-wrapper{
        margin-top: 24px;
    }

    .custom-pad{
        padding: 10px 16px !important;
    }
}


/* 768px */
@media screen and (max-width: 768px) {
  .curve-container  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 341px; 
    height: 51px; 
  }
  
  .breadcrumb-overlay {
    position: absolute;
    bottom: 10px !important; 
    left: 45px !important;   
    font-size: var(--fs-sm);
    color:var(--dark-charcoal);
    display: flex;
    align-items: center;
    gap: 10px;
}
}


/* 576px */
@media screen and (max-width: 576px) {
      .landing-page {
            min-height: 230px;
        }
        
        .header-content {
            margin-top: 41px;
            padding: 85px 0 0 12px;
        }
        
        .header-content .main-title-jap {
            font-size: var(--fs-xl);
            font-weight: 600;
            padding-bottom: 14px;
        }
        
        .header-content .main-title-eng {
            font-weight: 400;
            letter-spacing: 0.12em;
        }
        
    .intro {
        padding-top: 72px;
        padding-bottom: 85px;
     }
    
    .intro .main-title-jap {
        font-size: var(--fs-lg);
        font-weight: 500;
        line-height: 165%;
        letter-spacing: 0.08em;
    }
    
     .intro  .title-divider {
    border-top: 1px solid var(--green-divider);
    opacity: 1;
    margin: 13px 0 14px 0;
}
    
    
    .intro .service-title-jap {
        font-size: var(--fs-lg);
        background-size: 100% 24px; 
    }
    
    .pointers {
        padding-top: 14px !important;
    }
    
    .feature-section {
        padding-bottom: 963px;
    }
    
    
     .first-feature {
    padding-top: 120px;
    }
    
    .feature-section .service-title-jap {
        font-size: var(--fs-lg);
        font-weight: 600;
        line-height: 165%;
    }
    
    .feature-section .section-subtitle {
        font-size: 18px;
        
    }
    
    .container > .row:not(:nth-child(3)) .sub {
    padding-top: 34px;
}
    
    .section-divider {
    border-top: 3px solid var(--burnt-orange);
    opacity: 10%;
    margin: 19px 0 28px 0;
}
    .feature-item,
    .container .row:last-child .feature-item {
  padding-top: 64px !important;
}


.container > .row:nth-child(3) .sub {
    padding-top: 40px;
}

 .feature-list li {
        margin-bottom: 37px;
        font-weight: 600;
    }

.gray-placeholder-box {
        width: 100%; 
        max-width: 366px; 
        height: 243px;
    }
    
     .service-case {
    padding-top: 96px;
}

.case-content-area {
    padding-bottom: 15px;
}

.case-btn {
    padding-top: 25px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

 footer {
        margin-top: 0 !important;
        padding-top: 95px !important;
    }
    
    
}