@charset "UTF-8";

:root {
    --burnt-orange: #E66B27;
    --bg-grey: #F5F5F5;
}

main {
  background-color: white;
}

/* SERVICE */
.service-section-header h2 {
    color: var(--burnt-orange);
    font-size: 40px;
    line-height: 2;
}

.service-header {
    position: relative;
    background-color: var(--bg-grey);
    min-height: 450px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.header-content {
   padding-left: 92px;
    margin-top: 60px; 
  
}

.header-content .main-title-eng {
    color: rgba(234, 99, 00, 0.6);
    font-weight: 800;
     
}

.curve-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 620px; 
    height: 93px; 
}

.breadcrumb-overlay {
    position: absolute;
    bottom: 30px; 
    left: 130px;   
    font-size: 0.9rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {
  .curve-container  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 341px !important; 
    height: 51px !important; 
  }
  
  .breadcrumb-overlay {
    position: absolute;
    bottom: 20px !important; 
    left: 45px !important;   
    font-size: 0.9rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}
}


.breadcrumb-arrow {
    color: var(--burnt-orange);
    font-size: 0.7rem;
}

.breadcrumb-current {
    color: var(--burnt-orange);
    font-weight: 600;
}

@media (max-width: 620px) {
    .curve-container {
        width: 100%;
        height: auto;
    }
    .breadcrumb-overlay {
        right: 20px;
        font-size: 0.8rem;
    }
}

/* service grid */
@media screen and (min-width: 992px) {
  .service-grid {
    padding: 0 32px;
  }
}
 
.service-card {
  position: relative;
  height: 245px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  color: white;
}
 
.service-card h3 {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.3;
  font-weight: bold;
}
 
.service-card p {
  font-size: 0.85rem;
  margin-top: 8px;
  opacity: 0.9;
}
 
 
.wide-card {
  justify-content: center;
  align-items: center;    
  text-align: center;
}
 
.top-left-content {
  position: absolute;
  top: 30px;
  left: 30px;
  text-align: left;
}
 
.time-badge {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
/* solution */
.solutions-section {
    position: relative; 
    padding: 80px 60px;
    border-radius: 80px;
    color: #fff;
    margin: 20px 0;
    overflow: hidden; 
    z-index: 1;
}

.solutions-section::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: 
        url('https://grainy-gradients.vercel.app/noise.svg'),
        linear-gradient(
            155deg, 
            #FE9F5D 20%, 
            #FD854F 44%, 
            #FD6C41 67%, 
            #EA6300 100%
        );
    background-blend-mode: overlay;
    opacity: 0.8; 
    z-index: -1;   
}

.solutions-section .main-title {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 1.4;
  color: white;
}

.description-text p {
  font-size: 0.95rem;
  line-height: 1.8;
}

.solution-step-card {
    background: var(--white);
    border-radius: 24px;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    min-height: 241px; 
}

.step-number {
    background-color: var(--burnt-orange);
    color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 100%;
    margin-bottom: 22px;
}

.step-title {
    color: var(--burnt-orange);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 100%;
    margin-bottom: 25px !important;
}

.step-icon img {
    height: 58px;
    width: 58px;
    object-fit: contain;
}


@media screen and  (min-width: 992px) {
    .solution-steps-wrapper {
        display: flex;
        justify-content: center; 
        gap: 26px; 
        align-items: stretch;
    }
    .solution-step-card {
        position: relative;        
        width: 100%; 
    }
    
    .solution-steps-wrapper > div:last-child {
        display: flex;
        justify-content: flex-end;
    }

    .solution-step-card::after {
        content: "";
        position: absolute;
        right: -20px; 
        top: 50%;
        transform: translateY(-50%);
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 20px solid #F35F20;
        z-index: 2;
    }

    .solution-steps-wrapper > div:last-child .solution-step-card::after {
        display: none;   
    }

    .solution-title {
        padding: 0px 92px;
    }
    .solution-section-inner {
        padding: 128px 32px; 
    }
}

@media screen and  (max-width: 991px){
    .solution-steps-wrapper {
        flex-direction: column !important;
        gap: 0 !important;
    }

    .solution-steps-wrapper > div {
        margin-bottom: 16px; 
        position: relative;
    }

    .solution-step-card {
        flex-direction: row !important; 
        justify-content: flex-start;
        align-items: center;
        
        width: 100% !important;
        max-width: 100% !important;
        min-height: auto !important;
        padding: 15px 28px 15px 22px;
        border-radius: 16px;
    }

    .solution-step-card {
        min-height: 111px;
        overflow: visible !important;
    }

    .step-number {
        margin-bottom: 0 !important;
        margin-right: 34px;
        flex-shrink: 0;
    }

    .step-title {
        margin-bottom: 0 !important;
        text-align: left;
        flex-grow: 1;
    }

    .step-icon img {
        margin-left: auto;
    }

    .solution-step-card::after {
        content: "";
        position: absolute;
        bottom: -15px; 
        left: 50%;
        transform: translateX(-50%);
        right: auto !important;
        top: auto !important;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 15px solid var(--burnt-orange); 
        border-bottom: 0;
        display: block !important;
        z-index: 999;
    }
    
    .solution-steps-wrapper > div:last-child {
        margin-bottom: 0;
    }
    
    .solution-steps-wrapper > div:last-child .solution-step-card::after {
        display: none !important;
        content: none;
    }
}

.features-header-title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 50px;
}

.feature-num {
  font-size: 5.5rem; 
  font-weight: 800;
  opacity: 0.3;
  line-height: 1;
  display: block;
  padding-bottom: 20px;
}

.feature-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.feature-desc {
  font-size: 1rem;
  line-height: 1.6;
}

#services-list-solutions {
    background-color: #ffffff;
}

.container-inner {
  padding: 0 32px;
}

.services-list-solutions-card {
    background-color: #F5F5F5; 
    border-radius: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    border: none;
}

.services-list-solutions-card:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.services-list-solutions-image {
    width: 100%;
    border-radius: 15px;
    display: block;
    padding: 30px 62px 30px 57px;
}

.services-list-solutions-image img {
   width: 100%; 
    height: auto;
    object-fit: cover;
    border-radius: 15px; 
    display: block;
}

.services-list-solutions-content {
    padding-right: 30px; 
    min-height: 280px; 
}

.services-list-solutions-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 5px;
    color: #333;
}

.services-list-solutions-title span {
    font-size: 2.2rem;
    letter-spacing: 2%;
}

.services-list-solutions-en {
    font-size: 0.75rem;
    font-weight: 800;
    color: #444;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
}

.services-list-solutions-desc {
    line-height: 1.8;
    flex: 1; 
}


.services-list-solutions-btn {
    position: relative;
    right: 35px; 
    
    flex-shrink: 0;
    transition: transform 0.2s ease;
    display: inline-block;
    margin-bottom: 20px; 
}

.services-list-solutions-btn:hover {
    transform: scale(1.1);
}

.services-list-solutions-btn {
    transition: transform 0.2s ease;
    display: inline-block;
    margin-bottom: 20px; 
}

@media (max-width: 992px) {
  .services-list-solutions-btn {
     position: relative;
    right: 10px; 
    flex-shrink: 0;
    transition: transform 0.2s ease;
    display: inline-block;
    margin-bottom: 20px; 
  }
}

@media (max-width: 768px) {
    .services-list-solutions-content {
        padding: 20px 30px 60px 30px;
    }
    .services-list-solutions-desc {
        max-width: 100%;
    }
    
    .services-list-solutions-image {
      margin: 0 auto;
    }
}

@media (max-width: 576px) {
  .container-inner {
    padding: 0 12px;
  }
    .services-list-solutions-card {
        position: relative; 
        padding: 12px 12px 76px 12px;    
        display: block;    
    }

    .services-list-solutions-image {
        padding: 0 !important; 
        margin-bottom: 24px;
        width: 100%;
    }

    .services-list-solutions-image img {
        border-radius: 15px;
        width: 100%;
        height: auto;
    }

    .services-list-solutions-content {
        padding: 0 !important; 
        min-height: auto;      
    }

    .services-list-solutions-title {
        font-size: 1.5rem;
        margin-bottom: 4px;
    }

    .services-list-solutions-title span {
        font-size: 2rem;
    }

    .services-list-solutions-en {
        margin-bottom: 24px;
        font-size: 0.85rem;
    }

    .services-list-solutions-desc {
        font-size: 0.95rem;
        line-height: 1.7;
        padding-right: 20%; 
        margin-bottom: 0;
    }

    .services-list-solutions-btn {
        position: absolute;
        bottom: 24px;   
        right: 12px;    
        margin: 0;     
        display: block;
        z-index: 10;
    }

    .services-list-solutions-btn img {
        width: 45px;  
        height: auto;
    }
    
    .services-list-solutions-content .d-flex {
        display: block !important;
    }
}

/* FLOW */
#flow-section {
  background-color: #ffffff;
}

.timeline-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px; 
}

.flow-number {
  width: 50px;
  height: 50px;
background: linear-gradient(57deg, 
    rgba(254, 159, 93, 0.8) 20%, 
    rgba(253, 133, 79, 0.8) 44%, 
    rgba(253, 108, 65, 0.8) 67%, 
    rgba(234, 99, 0, 0.8) 100%
  );
  background-repeat: no-repeat;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  z-index: 2;
}

.vertical-line {
  flex-grow: 1;
  width: 1px;
 background-color: rgba(254, 159, 93, 0.8);
  margin-top: -5px;
  margin-bottom: -5px;
}

.step-header {
  color: var(--burnt-orange);
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 5px;
  margin-bottom: 20px;
}

.step-description {
  color: #333;
  line-height: 1.8;
  font-size: 0.95rem;
}


@media (max-width: 576px) {
  .step-header { font-size: 1.3rem; }
  .timeline-col { width: 50px; }
  .flow-number { width: 40px; height: 40px; font-size: 0.9rem; }
}