    @charset "UTF-8";

    .service-list-main {
    background-color: var(--white);
    }

    /* SERVICE */
    .service-section-header h2 {
        color: var(--burnt-orange);
    }

    .header-content {
        margin-top: 85px; 
        padding-left: 92px;
    }

    .service-header {
        position: relative;
        background-color: var(--white-smoke);
        min-height: 399px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
   

    .curve-container {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 620px; 
        height: 93px; 
    }

    .breadcrumb-overlay {
        position: absolute;
        bottom: 30px; 
        left: 130px;   
        font-size: var(--fs-sm);
        color: var(--dark-charcoal);
        display: flex;
        align-items: center;
        gap: 10px;
    }


    .breadcrumb-arrow {
        color: var(--burnt-orange);
        font-size: var(--fs-xs);
    }

    .breadcrumb-current {
        color: var(--burnt-orange);
        font-weight: 600;
    }

   
    /* service grid */
    .service-landing-page {
        padding-top: 104px;
        column-gap: 11px;
        row-gap: 11px;
    }
    
    .top-space {
        padding-top: 37px;
    }
    
    .custom-gap {
        --bs-gutter-x: 12px;
    }
    
    .mb-gap {
        margin-bottom: 11px;
    }
    
    .service-card {
    position: relative;
    height: 245px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 14px 18px 19px 18px;
    }
    

    
    .wide-card {
    justify-content: center;
    align-items: center;    
    text-align: center;
    }
    
    .top-left-content {
    position: absolute;
    top: 30px;
    left: 30px;
    text-align: left;
    }
    
    .time-badge {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.08em;
    line-height: 135%;
    }
    

    
    /* solution */
    .solutions-section {
        position: relative; 
        padding: 95px 0 74px 0;
        border-radius: 128px;
        margin: 144px 0;
        overflow: hidden; 
        z-index: 1;
        border-radius: clamp(32px, 10vw, 128px);  
    }


    .solutions-section::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0;
        background: 
            url('https://grainy-gradients.vercel.app/noise.svg'),
            var(--sunset-gradient);
        background-blend-mode: overlay;
        opacity: 0.8; 
        z-index: -1; 
    }
    
    

    .site-container {
    padding: 0 32px;
    }
    
    .solution-steps-wrapper {
        padding-top: 32px;
    }
    
    
    .solution-step-card {
        background: var(--white);
        border-radius: 24px;
        padding: 24px 29px 29px 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
        min-height: 241px; 
        box-shadow: 0 4px 40px 0 rgba(139, 73, 25, 0.5);
    }

    .step-number {
        background-color: var(--burnt-orange);
        color: var(--white);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 5;
        letter-spacing: 0.03em;
        line-height: 100%;
        margin-bottom: 22px;
    }

    .step-title {
        color: var(--burnt-orange);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 100%;
        margin-bottom: 25px !important;
    }

    .step-icon img {
        height: 58px;
        width: 58px;
        object-fit: contain;
    }

    .strength-feature-title {
        padding-top: 125px;
    }
    

    .feature-num {
    font-size: 120px; 
    font-weight: 400;
    letter-spacing: -0.1em;
    opacity: 0.3;
    line-height: 100%;
    display: block;
    padding-bottom: 20px;
    
    font-family: "Abel", sans-serif;
    font-weight: 400;

    }


    .feature-title {
    font-weight:500;
    line-height: 100%;
    margin-bottom: 15px;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
    }
    

    .feature-desc {
    font-size:var(--fs-base);
    line-height: 200%;
    width: 68%;
    }
    


   /* service solution list */
    #services-list-solutions {
        background-color: var(--white);
        padding: 60px 0; 
    }


    .services-list-solutions-card {
        background-color: var(--white-smoke); 
        border-radius: 24px;
        margin-bottom: 30px;
        overflow: hidden;
        border: none;
    }

    .services-list-solutions-image {
        padding: 30px 30px 30px 57px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-list-solutions-image img {
        width: 100%; 
        height:auto;
        object-fit: cover;
        border-radius: 15px; 
        display: block;
    }



    .services-list-solutions-content .service-title-jap {
        font-size: var(--fs-xl);
        font-weight: 600;
    }

    .services-list-solutions-content .service-title-eng {
        font-size: var(--fs-sm);
        font-weight: 600;
        margin-bottom: 20px;
    }

    .services-list-solutions-desc {
        width: 85%;
        font-weight: 500;
        color: var(--dark-charcoal);
    }

    .services-list-solutions-btn {
        flex-shrink: 0;
        transition: transform 0.2s ease;
        display: inline-block;
    }

    .services-list-solutions-btn:hover {
        transform: scale(1.1); 
    }



        /* FLOW */
        #flow-section {
        background-color: var(--white);
        margin: 177px 0 190px;
    }
        
        
        
    .timeline-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: var(--flow-circle-size);
        padding: 0;
    }

    .flow-number {
    width: 62px;
    height: 62px;
    background: linear-gradient(57deg,
        rgba(254, 159, 93, 0.8) 20%,
        rgba(253, 133, 79, 0.8) 44%,
        rgba(253, 108, 65, 0.8) 67%,
        rgba(234, 99, 0, 0.8) 100%
    );
    background-repeat: no-repeat;
    color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    z-index: 2;
    margin-left: 12px;
    }

    .vertical-line {
        flex-grow: 1;
        width: 1px;
        background-color: rgba(254, 159, 93, 0.8);
        margin: -1px 0;
    }

    .step-header {
        color: var(--burnt-orange);
        font-weight: 600;
        margin-bottom: 15px;
        font-size: var(--fs-lg);
        padding-bottom: 4px;
    }

    .step-description {
        line-height: 200%;
        font-weight: 500;
    }
    
    .pb-gap {
        padding-bottom: 79px;
    }
    
    .pb-gap-lg {
        padding-bottom: 83px;
    }
    

	
	/* 992px */
	@media screen and (min-width: 992px) {
        .service-grid {
            padding: 0 32px;
        }
		
		
		.solution-steps-wrapper {
        padding-top: 52px;
    }
	
	.solution-steps-wrapper {
            display: flex;
            justify-content: center; 
            gap: 26px; 
            align-items: stretch;
        }
        .solution-step-card {
            position: relative;        
            width: 100%; 
            
        }
        
        .solution-steps-wrapper > div:last-child {
            display: flex;
            justify-content: flex-end;
        }

        .solution-step-card::after {
            content: "";
            position: absolute;
            right: -15px; 
            top: 50%;
            transform: translateY(-50%);
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 15px solid var(--burnt-orange);
            z-index: 2;
        }

        .solution-steps-wrapper > div:last-child .solution-step-card::after {
            display: none;   
        }
	
        .feature-item-list {
            padding-top: 43px;
            padding-left: 0;
        }
        
        .row > div:nth-child(n+2) .feature-item-list {
            padding-top: 58px;
        }
		
        
        
		.feature-num {
			font-size: 80px;
			padding-bottom: 2px;
        }
	
		
		.feature-title {
            font-size: var(--fs-xl);
            padding-bottom: 0;
        }
		
		
        .feature-desc{
        font-size: 18px;
        }
		
        .services-list-solutions-content {
        padding: 0 40px 40px 40px; 
        text-align: left;
        }
            
        #services-list-solutions .services-list-solutions-content {
            padding: 40px 40px 40px 0; 
            min-height: 100%; 
        }

        .services-list-solutions-desc {
            width: 100%;
            margin-bottom: 15px;
        }
}
    
	
	/* 991px*/
    @media screen and  (max-width: 991px){
        
		.site-container {
            padding: 0 12px;
        }
        
        
        .solutions-section .headline-text {
            font-size: var(--fs-lg);
        }
        
        
        .solution-steps-wrapper {
            flex-direction: column !important;
            gap: 0 !important;
        }

        .solution-steps-wrapper > div {
            margin-bottom: 16px; 
            position: relative;
        }

        .solution-step-card {
            flex-direction: row !important; 
            justify-content: flex-start;
            align-items: center;
            
            width: 100% !important;
            max-width: 100% !important;
            min-height: auto !important;
            padding: 24px 29px 29px 22px;
            border-radius: 16px;
        }

        .solution-step-card {
            min-height: 111px;
            overflow: visible !important;
        }

        .step-number {
            margin-bottom: 0 !important;
            margin-right: 34px;
            flex-shrink: 0;
        }

        .step-title {
            margin-bottom: 0 !important;
            text-align: left;
            flex-grow: 1;
        }

        .step-icon img {
            margin-left: auto;
        }

        .solution-step-card::after {
            content: "";
            position: absolute;
            bottom: -25px; 
            left: 50%;
            transform: translateX(-50%);
            right: auto !important;
            top: auto !important;
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            border-top: 24px solid var(--burnt-orange); 
            border-bottom: 0;
            display: block !important;
            z-index: 999;
        }
        
        .solution-steps-wrapper > div:last-child {
            margin-bottom: 0;
        }
        
        .solution-steps-wrapper > div:last-child .solution-step-card::after {
            display: none !important;
            content: none;
        }
        
        #services-list-solutions .services-list-solutions-content {
            padding: 40px; 
            min-height: 100%; 
        }

        .feature-item-list {
                padding-top: 55px;
                padding-left: 0;
            }
    }
    
	
	/* 768px */
	@media screen and (min-width: 768px) {
        .service-header {
            min-height: 271px;
        }
        
        .header-content {
            margin-top: 41px;
            padding-left: 12px;
        }
		
		.curve-container  {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 341px !important; 
        height: 51px !important; 
    }
    
    .breadcrumb-overlay {
        position: absolute;
        bottom: 20px !important; 
        left: 45px !important;   
        font-size: var(--fs-sm);
        color: var(--dark-charcoal);
        display: flex;
        align-items: center;
        gap: 10px;
    }
	
        .service-landing-page {
        padding-top: 85px;
        }
        
        .service-landing-page .headline-text {
            font-size: var(--fs-xl);
            padding-left: 12px !important;
        }
        
        .service-landing-page .description-text {
            margin-top: 43px !important;
            padding-left: 12px !important;
        }
        
        .service-landing-page .top-space {
            padding-top: 66px;
        }
        
        .top-left-content {
            top: 20px;
		}
	
	 	.solutions-section {
            margin-top: 94px;
            margin-bottom: 96px;
            padding-top: 78px;
            padding-bottom: 91px;
        }
        
        
	
	    .solutions-section .service-title-jap {
            font-size: var(--fs-lg);
        }
        
        .solutions-section .description-text {
            padding-top: 20px;
        }
        
        
	
		.strength-feature-title {
        padding-top: 77px;
        }
    
        .strength-feature-title .main-title-jap  {
            font-size: var(--fs-xl);
            font-weight: 700;
        }
	
        #services-list-solutions {
            padding-top: 0;
        }
	
        #flow-section {
            margin-top: 0;
            padding-top: 30px;
            padding-left: 12px;
            padding-right: 12px;
        }

    }
	
	/* 767px */
	@media screen and (max-width: 767px) {
        .header-content {
            padding-left: 12px;
        }
        .service-section-header .headline-text, 
        .service-section-header .description-text {
                padding: 0 12px;
        }
        
        .service-landing-page .site-container {
        max-width: 768px;
        }
        
        .service-landing-page .service-card {
        min-height: 122px; 
        height: 100%;
        column-gap: 11px;
        row-gap: 11px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
    }
    
        main.service-list-main .service-landing-page .service-title-jap {
            font-size: var(--fs-sm);
        }
        
        .service-card p {
            display: none;
            }
            
            #services-list-solutions .services-list-solutions-content {
        padding: 16px 12px 24px 12px; 
        min-height: 100%; 
        }

        .service-landing-page .wide-card .md-text {
        font-size: var(--fs-md) !important;
        }
        
        .service-card .card-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        height: 100%;
        padding-top: 20px; 
        }


        .service-card.wide-card {
            display: flex;
            align-items: center;
            justify-content: flex-end; 
            margin-top: auto;
            position: relative;
        }

        .top-left-content {
            position: absolute; 
            top: 15px;        
            left: 20px;
        }
	}
	
	    /* 620px */
        @media (max-width: 620px) {
        .curve-container {
            width: 100%;
            height: auto;
        }
        .breadcrumb-overlay {
            top: 30px;
            left: 65px;
            font-size: var(--fs-sm);
        }
    }

	
	/* 576px */
	@media (max-width: 576px) {
        
    .service-section-header .headline-text, 
    .service-section-header .description-text {
        padding: 0 12px;
    }
        
    .services-list-solutions-card {
        border-radius: 16px;
        margin-bottom: 20px;
    }

    .services-list-solutions-image {
        padding: 12px 12px 24px 12px;
    }

    .services-list-solutions-content {
        padding: 0 12px 24px 12px;
    }

    .services-list-solutions-content .service-title-jap {
        font-size: var(--fs-lg);
    }
    
        .services-list-solutions-content .service-title-eng {
        font-size: var(--fs-base);
        padding-bottom: 16px;
    }
    
    .services-list-solutions-content .services-list-solutions-desc {
    width: 95%; 
    align-items: flex-end;
    padding-bottom: 54px;
    font-size: var(--fs-sm);
    }

    .services-list-solutions-card:nth-child(4) .services-list-solutions-desc {
        width: 95%; 
        align-items: flex-end;
        padding-bottom: 35px;
        font-size: var(--fs-sm);
    }

    .g-custom-24 {
        --bs-gutter-y: 24px;
    }
    .services-list-solutions-content .services-list-solutions-btn img {
        width: 45px;
        height: 45px;
    }
    
    .time-badge {
        margin-top: auto;
    }
	
		.feature-num {
			font-size: 80px;
			padding-bottom: 2px;
        }
	
		
		.feature-title {
            font-size: var(--fs-xl);
            padding-bottom: 0;
        }
		
		
		 .feature-desc{
        font-size: 18px;
        }
	
        #flow-section {
            margin: 0;
            padding: 30px 12px; 
        }

        
        #flow-section .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        #flow-section .container {
            padding: 0 !important;
        }
        

        
        .timeline-col {
            width: 50px !important;
        }
        
        .pb-gap {
            padding-bottom: 47px !important;
        }
        
        .pb-gap-lg {
            padding-bottom: 58px !important;
        }
        
        footer {
            margin-top: 74px !important;
        }

    }
